@model List<Booking>

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-info">Bookings</h2>
</div>

<table class="table table-hover table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th scope="col">Booking ID</th>
            <th scope="col">Customer</th>
            <th scope="col">Room</th>
            <th scope="col">City</th>
            <th scope="col">Checkin Date</th>
            <th scope="col">Checkout Date</th>
            <th scope="col">Total Price</th>
            <th scope="col">Status</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach(var booking in Model)
        {
            var today = DateTime.Now.Date;
            var checkoutDate = booking.CheckOutDate.Date;
            <tr>
                <td>@booking.BookingID</td>
                <td>@booking.Customer.FirstName @booking.Customer.LastName</td>
                <td>@booking.Room.Name</td>
                <td>@booking.Room.City</td>
                <td>@booking.CheckInDate.Date.ToString("dd.MM.yyyy")</td>
                <td>@booking.CheckOutDate.Date.ToString("dd.MM.yyyy")</td>
                <td>
                    $@booking.TotalPrice
                </td>
                <td>
                    @if (booking.Status == true)
                    {
                        <span class="badge text-bg-success">Active</span>
                    }
                    else if (booking.Status == false)
                    {
                        <span class="badge text-bg-danger">Passive</span>
                    }
                </td>
                <td>
                    @* <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel Booking">
                        <i class="bi bi-x-circle-fill"></i> Cancel
                    </button> *@

                    <form action="/AdminBookings/CancelBooking" method="post" onsubmit="return confirm('Are you sure you want to cancel this booking?');">
                        <input type="hidden" name="bookingId" value="@booking.BookingID" />
                        <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                        @if (booking.Status == false || checkoutDate < today)
                        {
                            @:disabled
                        }
                                title="Cancel Booking">
                            <i class="bi bi-x-circle-fill"></i> Cancel
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>
