@model List<BookingListViewModel>

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-info">Your Bookings</h2>
</div>

<table class="table table-bordered table-striped table-hover mt-4">
    <thead class="table-light">
        <tr>
            <th scope="col">Room</th>
            <th scope="col">City</th>
            <th scope="col">Check-in Date</th>
            <th scope="col">Check-out Date</th>
            <th scope="col">Total Price</th>
            <th scope="col">Status</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach(var booking in Model)
        {
            <tr>
                <td>@booking.RoomName</td>
                <td>@booking.City</td>
                <td>@booking.CheckInDate</td>
                <td>@booking.CheckOutDate</td>
                <td>$@booking.TotalPrice</td>
                <td>
                    @if (booking.Status == true)
                    {
                        <span class="badge text-bg-success">Active</span>
                    }
                    else if (booking.Status == false)
                    {
                        <span class="badge text-bg-danger">Passive</span>
                    }
                </td>
                <td>
                    @* <a href="@Url.Action("BookingDetail", "CustomerBookings", new { bookingId = booking.ID })" class="btn btn-outline-primary me-1">View</a>
                    <button type="button" class="btn btn-outline-danger">Cancel</button>

                    <form asp-action="CancelBooking" method="post">
                        <input type="hidden" name="bookingId" value="@booking.ID" />
                        <button type="submit" class="btn btn-outline-danger"
                        @if (booking.Status != true)
                        {
                            @:disabled
                        }
                                title="Cancel">
                            <i class="bi bi-x-circle"></i> Cancel
                        </button>
                    </form> *@

                    <div class="d-flex">
                        <a href="@Url.Action("BookingDetail", "CustomerBookings", new { bookingId = booking.ID })" class="btn btn-outline-primary me-2">View</a>

                        <form asp-action="CancelBooking" method="post">
                            <input type="hidden" name="bookingId" value="@booking.ID" />
                            <button type="submit" class="btn btn-outline-danger"
                            @if (booking.Status != true)
                            {
                                @:disabled
                            }
                                    title="Cancel">
                                <i class="bi bi-x-circle"></i> Cancel
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
